.HW11{
    height: 200px;
    margin-top: 50px;
    color:white;
}
.main{
    display: flex;
    justify-content: center;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Stars_01_%28MK%29.jpg/911px-Stars_01_%28MK%29.jpg);
    background-size: 100% 100%;

}
.header{
    text-align: center;
}

.SuperDoubleRange{
    width:300px;
    margin-top: 20px;
}