.ClockWrapper {
    display: flex;
    font-size: 140px;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
    border-top: 1px double black;
}

.header {
    margin-bottom: 10px;
}

.forDate {
    position: relative;
}

.mySpan {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 23px;
    padding: 5px 10px;
    border: 1px solid black;
    color: black;
    font-weight: 700;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 170px;
}