.afTable {
    border: 1px solid black;
    margin: 20px;
}
.affairBlock {
    display: flex;
    justify-content: center;
}

.affairId {
    width: 50px;
    border: 1px solid black;
}
.affairName {
}
.affairPriority {
    width: 80px;
    border: 1px solid black;
}
.buttons {
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px double black;
    margin-bottom: 50px;
    padding-top: 100px;
}
.header{
    padding-bottom: 10px;
}
.affairs{
    border: 1px double gray;
    border-radius: 20px ;
}
.allAffairs{
    padding:20px
}
