.header {
    margin: 10px 0px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px double black;
    margin-bottom: 50px;
    padding-top: 100px;
}